/二级/logs/
/scripts/node/.ipynb_checkpoints/
/package/CoilDataBase/build/
/package/CoilDataBase/CoilDataBase.egg-info/
/UI/AnimationTutorial/build/
/UI/AnimationTutorial/CMakeLists.txt.user
/服务/.github/
/服务/.idea/
/服务/utils/logs/
/venv/
/.idea/
/服务/logs/
/服务/log/stdout/
/scripts/train/output/
