/二级/logs/
/scripts/node/.ipynb_checkpoints/
/package/CoilDataBase/build/
/package/CoilDataBase/CoilDataBase.egg-info/
/UI/AnimationTutorial/build/
/UI/AnimationTutorial/CMakeLists.txt.user
/服务/.github/
/服务/.idea/
/服务/utils/logs/
/venv/
/.idea/
/服务/logs/
/服务/log/stdout/
/scripts/train/output/
/服务/dist/
/采集/dist/

/UI/AnimationTutorial/.idea/
/UI/AnimationTutorial/cmake-build-debug/
/UI/AnimationTutorial/cmake-build-release/
/CONFIG_3D/model/
/服务2D/log/logs/
/采集/logs/
/服务/script/logs/
/采集/build/
/logs/
/UI/MotionStudio/build/
/UI/MotionStudio/.idea/
/UI/MotionStudio/.qtcreator/
/log/
/app/Server/log/
/app/Server/logs/
/app/UI/MotionStudio/build/
/app/UI/MotionStudio/.qtcreator/
/app/UI/MotionStudio/.idea/
/TestData/
/app/log/
/app/log/app.log
/app/CapTrue/log/
/.log/
/.logs/