SQLAlchemy
uvicorn
fastapi
requests
opencv-python
numpy
pillow
scikit-learn
matplotlib
tqdm
scipy
huggingface-hub
typer
addict
yapf
supervision
pycocotools
setuptools
seaborn
loguru
ipython
traitlets
SQLAlchemy-Utils
ultralytics
colorlog
XlsxWriter
psutil
GPUtil
pymssql
PyMySQL
harvesters
timm
scikit-image
open3d
argparse
six
wsproto
cryptography
fastapi-cache[redis]
redis~=5.2.1
python-multipart
typing_extensions
sympy
mpmath
packaging
colorama
filelock
urllib3
fsspec
defusedxml
minio
lxml
CoilDataBase
torch~=2.6.0.dev20241215+cu126
pydantic
torchvision~=0.22.0.dev20241215+cu126
PyYAML
safetensors
pandas
shapely
onnxruntime
Labelme2YOLOv8
labelme
cachetools