SQLAlchemy~=2.0.36
uvicorn~=0.34.0
fastapi~=0.115.6
requests~=2.32.3
opencv-python~=4.10.0.84
numpy~=2.2.0
pillow~=11.0.0
scikit-learn~=1.6.0
matplotlib~=3.10.0
tqdm~=4.67.1
scipy~=1.14.1
huggingface-hub~=0.26.5
typer
addict
yapf
supervision
pycocotools
setuptools~=65.5.0
seaborn
loguru
ipython
traitlets
SQLAlchemy-Utils~=0.41.2
ultralytics~=8.3.49
colorlog~=6.9.0
XlsxWriter~=3.2.0
psutil~=6.1.0
GPUtil~=1.4.0
pymssql
PyMySQL~=1.1.1
harvesters~=1.4.3
timm~=1.0.14
scikit-image~=0.25.0
open3d~=0.18.0
argparse~=1.4.0
six
wsproto
cryptography
fastapi-cache[redis]
redis~=5.2.1
python-multipart
typing_extensions
sympy
mpmath
packaging
colorama
filelock
urllib3
fsspec
defusedxml
minio~=7.2.13
lxml~=5.3.0
CoilDataBase~=0.0.1
torch~=2.6.0.dev20241215+cu126
pydantic~=2.10.3
torchvision~=0.22.0.dev20241215+cu126
PyYAML~=6.0.2
safetensors~=0.4.5
pandas~=2.2.3
shapely~=2.0.6
onnxruntime~=1.21.0
Labelme2YOLOv8~=0.1.4
labelme~=5.8.1