SQLAlchemy
uvicorn
fastapi
requests
opencv-python
numpy
pillow
matplotlib
tqdm
scipy
supervision
pycocotools
setuptools
seaborn
loguru
ipython
traitlets
SQLAlchemy-Utils
ultralytics
colorlog
XlsxWriter
psutil
GPUtil
pymssql
PyMySQL
harvesters
timm
scikit-image
open3d
argparse
six
wsproto
cryptography
fastapi-cache[redis]
redis
python-multipart
typing_extensions
sympy
mpmath
packaging
colorama
filelock
urllib3
pydantic
PyYAML
safetensors
pandas
shapely
onnxruntime
Labelme2YOLOv8
labelme
cachetools