.height-chart-container {
  width: 100%;
  height: 100%;
}

.height-chart-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #999;
  font-size: 14px;
}
